.venv/
venv/
.env/
env/
**/.venv/
**/venv/
**/.env/
**/env/
dist/
build/
**/dist/
**/build/
__pycache__/
**/__pycache__/
*.bkp
**/*.bkp
*.dtmp
**/.dtmp
*.tmp
**/.tmp
*.temp
**/*.temp
*.part
**/*.part
tmp/
**/tmp/
temp/
**/temp/
.tmp/
**/.tmp/
.temp/
**/.temp/